body {
	background-color: #fcfcfc;
}

.wrapper {
	-webkit-transform: translate3d(0,0,0);
}

.slide {
	-webkit-transform: translate3d(0,0,0);
}

.section {
	-webkit-transform: translate3d(0,0,0);
}

.fp-controlArrow.fp-prev {
	left: 40px;
}

.fp-controlArrow.fp-next {
	right: 40px;
}

svg * { 
	transform-box: fill-box;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #fff;
}

#header {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 999;
	background-color: #BFD7EA;
	border-bottom: 1px solid rgb(209, 225, 240);
	-webkit-box-shadow: 0px 4px 2px -4px rgba(0,0,0,0.53); 
	box-shadow: 0px 4px 2px -4px rgba(0,0,0,0.53);
}

.header-space {
	height: 100px;
}

#logo {
	height: 50px;
}

#myMenu li {
	display: inline;
	margin-right: 8px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 20px;
}

#myMenu li a {
	text-decoration: none;
	color: #0B3954;
}

#myMenu li.active {
	border-bottom: 3px solid #0B3954;
	font-weight: 800;
}

.my-container {
	padding-top: 80px;
	padding-left: 80px;
	padding-right: 80px;
}

.font-oswald {
	font-family: 'Oswald', sans-serif;
}

.font-raleway {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}

.font-opensans {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.font-opensans-bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.circle {
	border-radius: 50%;
}

.square {
	position: relative;
	width: 50%;
}
  
.square:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
  
.square-content {
	position: absolute;
	width: 100%;
	height: 100%;
}

.box-shadow {
	-webkit-box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.3); 
	box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.3);
}

.text-shadow {
	text-shadow: 1px 1px 2px rgba(33,33,33,0.64);
}

.text-justify {
	text-align: justify;
}

.section-grey {
	background-color: #BFD7EA;
}

.color-subtlegreen {
	color: #E0FF4F;
}

.color-subtlered {
	color: #FF6663;
}

hr.subtlered {
	border: 0;
	height: 4px;
	width: 50%;
	position: relative;
	margin: 20px auto;
	background: #FF6663;
	opacity: 1;
}

hr.subtlered:before {
	content: "";
	width: 20px;
	height: 20px;
	background: #FF6663;
	display: inline-block;
	border: 2px solid #FF6663;
	border-radius: 50%;
	position: absolute;
	top: -8px;
	left: 50%;
	margin: 0 0 0 -10px;
}
  
.form-check-input:checked {
	background-color: #FF6663 !important;
	border-color: #eb5855 !important;
}

a, a:link {
	color: #FF6663;
}

a:hover {
	color: #b93b39;
}